/*Sitewide Styles*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 50%;
}

h1, h2, h3 {
    padding-bottom: 3%;
}

p {
    padding-bottom: 7%;
    font-size: 1rem;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.4rem;
}

.about, .scholarships, .quotes {
    padding: 7% 6%;
    text-align: center;
}

nav, footer, .scholarships {
    background-color: #2D79A5;
    color: white;
}

.about, .support {
    background-color: #EEF9FB;
}

.donate-nav, .about a, .scholarships a, .support a {
    background-color: #A3D4F0;
    color: black;
    padding: 2.5% 5%;
    border-radius: 20px;
}

img {
    max-width: 100%;
}

/*Navigation*/
nav {
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    padding: 0%;
}

nav a {
    color: white;
}

.main-nav-hide {
    display: none;
}

.mobile-menu-show {
    font-size: 3rem;
}

.sub-menu {

}

.condensed {
 display: none;
}

.show {
    display: flex;
}

.donate-nav {

}

/*Jumbotron*/

.jumbotron {
    padding: 3%;
    background-size: cover;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron-index {
    background-image: url("images/beach.jpg");
}

.jumbotron-about {
    background-image: url("images/beach-boy.jpg");
}

.jumbotron-learn {
    background-image: url("images/float.jpg");
}

.jumbotron-headline {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 1px 2px 7px #666666;
}

/*About*/

.about {

}


/*Scholarships*/

.scholarships {

}

/*Support*/

.support-image-block {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}

.support h3 {
    background-color: #2D79A5;
    padding: 5% 1%;
    align-items: flex-end;
    transform: skewY(-3deg);
    transform-origin: top left;
    color: white;
    font-size: 2.3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.support {
    padding: 7% 10%;
    text-align: center;
}

.events {
padding-bottom: 15%;
}

.donate {

}

/*Quotes*/
.quotes {
background-color: #71B4DA;
}

.quotes h2 {
    padding-bottom: 0%;
}

/*About Page*/

.about-tabs {
    display: flex;
    justify-content: space-between;
    padding: 6% 7% 0% 7%;
}

.about-tabs li {
    list-style-type: none;
}

.about-text {
    padding: 0% 7% 7% 7%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-text img {
    padding: 8% 0%;
}

#jakes-story {

}

#jakes-story img {
    max-height: 400px;
}


#our-mission {

}

#our-mission i {
    color: #2D79A5;
    font-size: 2.8rem;
}

#our-team {}

/*Footer*/

footer {
    padding-top: 5%;
    text-align: center;
}

footer a {
    color: white;
    padding: 0% 1.8%;
    font-size: 2rem;
}

/*Media Queries*/

@media (min-width:768px){

}

@media (min-width:990px){

	}